EmpTracker-Viewer/Service References/EmpTrackerService/laberko.net.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://laberko.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://laberko.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://laberko.net/Imports">
      <xsd:import namespace="http://laberko.net" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EmpTrackerWCFLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpTrackerService_CurrentWindows_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentWindows" />
  </wsdl:message>
  <wsdl:message name="IEmpTrackerService_CurrentWindows_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentWindowsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpTrackerService_Summary_InputMessage">
    <wsdl:part name="parameters" element="tns:Summary" />
  </wsdl:message>
  <wsdl:message name="IEmpTrackerService_Summary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpTrackerService">
    <wsdl:operation name="CurrentWindows">
      <wsdl:input wsaw:Action="http://laberko.net/IEmpTrackerService/CurrentWindows" message="tns:IEmpTrackerService_CurrentWindows_InputMessage" />
      <wsdl:output wsaw:Action="http://laberko.net/IEmpTrackerService/CurrentWindowsResponse" message="tns:IEmpTrackerService_CurrentWindows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Summary">
      <wsdl:input wsaw:Action="http://laberko.net/IEmpTrackerService/Summary" message="tns:IEmpTrackerService_Summary_InputMessage" />
      <wsdl:output wsaw:Action="http://laberko.net/IEmpTrackerService/SummaryResponse" message="tns:IEmpTrackerService_Summary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpEndpoint" type="tns:IEmpTrackerService">
    <wsp:PolicyReference URI="#TcpEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CurrentWindows">
      <soap12:operation soapAction="http://laberko.net/IEmpTrackerService/CurrentWindows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Summary">
      <soap12:operation soapAction="http://laberko.net/IEmpTrackerService/Summary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>