EmpTracker-Viewer/Service References/EmpTrackerService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EmpTrackerWCFLibrary" />
  <xs:element name="CurrentWindows">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentWindowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmpTrackerWCFLibrary" minOccurs="0" name="CurrentWindowsResult" nillable="true" type="q1:ArrayOfClientWindow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Summary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmpTrackerWCFLibrary" minOccurs="0" name="SummaryResult" nillable="true" type="q2:ArrayOfWindowSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>